.page1{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Bg.jpeg");
    background-size: cover;
    background-repeat: none;
    margin: 0;
    padding: 0;
    border: 0;
}


.loginpannel{
    height: 50%;
    width:30%;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 0.05px solid rgba(255, 255, 255, 0.39);
    font-family: Arial, Helvetica, sans-serif;
}
.loginHeading{
    font-size: 10px;
    font-weight: bold;
}
.details{
    background-color: transparent;
    border-radius: 20px;
    border: 0.05px solid rgba(255, 255, 255, 0.39);
    height: 10%;
    width:70%;
    margin-bottom: 5%;
    padding-left: 5%;
    color: white;
    font-weight: 900;
}
.part{
    width:75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
#log{
    width:75%;
    height:10%;
    border-radius: 20px;
    border:none;
    opacity: 0.75;
}
#log:hover{
    
    border: 0.5px solid rgba(255, 255, 255, 0.39);
    opacity:1;
}

.loginpannel i{
    font-weight: 800;
    cursor:pointer;
}
.loginpannel i:hover{
    text-decoration: underline;
}
#icon1{
    position: absolute;
    top:31%;
    right:20%;
    font-size: 1.25rem;
}
#icon2{
    position: absolute;
    top:46.5%;
    right:20%;
    font-size: 1.25rem;
}