@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

p{
    color: #ccc;
}

img{
    object-fit: cover;
}

body{
    background: #09090c;
}





nav,
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 2px;
}

nav .logo i{
    background: #a3e635;
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;
}

nav .nav-links,
footer .copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    background: #171717;
    gap: 10px;
    border-radius: 50px;
}

nav .nav-links a{
    color: #fff;
    transition: all 0.3s ease;
}

nav .nav-links a:hover{
    color: #a3e635;
}

nav .nav-links .separator,
footer .copyright .separator{
    width: 5px;
    height: 5px;
    background: #e635da;
    border-radius: 50%;
}

nav .nav-links p,
footer .copyright p{
    font-size: 13px;
}

nav .login{
    display: flex;
    align-items: center;
    gap: 16px;
    background: #171717;
    padding: 4px 4px 4px 14px;
    border-radius: 50px;
}

nav .login img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

nav .login a{
    font-size: 13px;
    color: #fff;
}

.prompt-sec{
    padding: 20px;
    padding-top: 0;
    position: relative;
    height: 100vh;
}


.prompt-sec h1{
    color: #ccc;
    font-size: 182px;
    line-height: 120px;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0;
    font-weight: 400;
    /* height: 1em; */
}
.blueHeading{
    color: rgb(97, 97, 255);
    font-weight: 400;
}

.prompt-sec .prompt-img{
    position: relative;
    margin: 0 0.8em;
    height: 74vh
}


.shadow{
    box-shadow: 0px -2em 30px rgb(0, 0, 0);
    height: 1em;
    width: 55vw;
    margin-top: 6px;
    background-color: blue;
    margin: auto;
    margin-bottom: 1em;
}
.prompt-sec .prompt-img .slider-container{
    width: 100%;
    height: 74vh;
    /* border-radius: 60px; */
    object-position: top center;
    position: relative;
    /* background-color: #02b9a3; */
    /* box-shadow: 0 -20px 40px rgba(0, 0, 0, 1); */
}

.slider-container .bush{
    position: absolute;
    height: 50em;
    width: 80em;
    right: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    z-index: 1;
    
}

.slider-container .bush img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* animation: bushPopup 1s; */
    
}

.building{
    position: absolute;
    width: 50em;
    right: 50%;
    top: 50%;
    transform: translateY(-55%) translateX(50%);
    z-index: 3;
}

.building img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* animation: buildingPopup 1s ease-in; */
}

.truck img{
    height: 100%;
    width: 100%;
    width: 50em;
    object-fit: contain;
}

.truck1{
    position: absolute;
    right: 50%;
    top: 50%;
    z-index: 2;
    animation: moveTruck1 linear;
    animation-timeline: view();
    img{
        animation: truck1Popup 2s;
    }
}

.truck2{
    position: absolute;
    right: 50%;
    top: 50%;
    z-index: 2;
    animation: moveTruck2 linear;
    animation-timeline: view();
    img{
        animation: truck2Popup 2s;
    }
}


@keyframes moveTruck1{
    from{
        transform: translateY(-45%) translateX(65%);
    }
    to{
        transform: translateY(-45%) translateX(-150%);
    }
}
@keyframes moveTruck2{
    from{
        transform: translateY(-45%) translateX(65%);
    }
    to{
        transform: translateY(-45%) translateX(150%);
    }
}

@keyframes buildingPopup{
    from{
        scale: 0;
        transform: translateY(100%);
    }
    90%{
        scale: 0;
        transform: translateY(100%);
    }
    to{
        scale: 1;
        transform: translateY(0);
    }
}

@keyframes bushPopup{
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}

@keyframes truck1Popup{
    from{
        opacity: 0;
        transform: translateX(20%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes truck2Popup{
    from{
        opacity: 0;
        transform: translateX(-20%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}



.prompt-sec .prompt-img .tabs{
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    z-index: 5;
}

.prompt-sec .prompt-img .tabs a{
    color: #fff;
    font-weight: 400;
    background: #231f1c;
    padding: 10px;
    width: 160px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.prompt-sec .prompt-img .tabs a.active,
.prompt-sec .prompt-img .tabs a:hover{
    color: #231f1c;
    background: rgb(84, 84, 255);
}

.dashboards{
    padding: 0px 5em;
    margin: 2em 0;
    /* margin-bottom: 10em; */
    height: 100vh;
    .dashContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4em;
        gap: 2em;
        /* flex-wrap: wrap; */
        .dashboardImg{
            img{
                width: 100%;
                object-fit: contain;
            }
            
        }
        .text{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding-right: 5em;
            p{
                text-align: center;
                
                font-size: 30px;
                max-width: 50%;
            }

        }
        
    }
}





.showcase{
    padding: 0px 80px;
    margin-top: 10em;

}

.showcase h3, .dashboards h3{
    color: #fff;
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    
}

.heisenTrack{
    display: inline-block;
    height: 2em;
    width: 6em;
    transform: translateY(0.8em);
}
.heisenTrack img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.showcase .text-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 10px;
}

.showcase .text-sec p{
    width: 100%;
    text-align: center;
    padding: 0px 5em;
    margin-bottom: 1em;
}

.showcase .text-sec .images,
.showcase .image-sec .firstRow, .showcase .image-sec .secondRow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 1.5em;
    flex-wrap: wrap;
}

.showcase .text-sec .images img,
.showcase .image-sec img{
    width: 12em;
    height: 12em;
    object-fit: cover;
    border-radius: 30px;
    border: 2px solid #c5c5c5;
}
.showcase .image-sec .member p{
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}
.showcase .image-sec .member span{
    color: white;
    font-weight: 100;
    
}
.showcase .image-sec .member{
    animation: autoShow linear;
    animation-timeline: view(95% auto);
}
@keyframes autoShow{
    from{
        opacity: 0;
        scale: 0.3;
    }
    /* 45%{
        opacity: 1;
    } */
    to{
        scale: 1;
        opacity: 1;
    }
}


.services .header,
.video-sec .header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 80px 0;
    padding-top: 0px;
}

.services .header h3,
.video-sec .header h3{
    color: #fff;
    font-size: 56px;
    text-transform: uppercase;
    width: 30%;
    /* display: inline-block; */
}
.services .header p{
    font-size: 1.5em;
}

.services .service-items{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1em 2em;
    padding-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    
}

.services .service-items .item{
    background: #171717;
    padding: 20px;
    border-radius: 40px;
    width: 25%;
    height: 17em;
    margin-bottom: 1em;
    /* font-weight: 400; */
    transition: all 0.4s;
}

.services .service-items .item:hover{
    background-color: rgb(95, 95, 227);

}

.services .service-items .item .title{
    display: flex;
    align-items: center;
    background: #2e2c29;
    padding: 5px 20px 5px 5px;
    gap: 10px;
    width: fit-content;
    border-radius: 50px;
    margin-bottom: 30px;
}

.services .service-items .item .title .gradient{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .service-items .item .title .gradient img{
    height: 70%;
    width: 70%;
}

.services .service-items .item:nth-child(1) .title .gradient{
    background-image: linear-gradient(to bottom, black,black, gray);
}

.services .service-items .item:nth-child(2) .title .gradient{
    background-image: linear-gradient(to bottom, #cc2c00 0%, #8b6a07 100%);
}

.services .service-items .item:nth-child(3) .title .gradient {
    background-image: linear-gradient(to right, #060256 0%, #23bcf9 100%);
}

.services .service-items .item:nth-child(4) .title .gradient {
    background-image: linear-gradient(to top, #00551b 0%, #02b9a3 100%);
}
.services .service-items .item:nth-child(5) .title .gradient {
    background-image: linear-gradient(to top, #d80fd8 0%, #47c6f9 100%);
}

.services .service-items .item .desc h5{
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    margin-bottom: 10px;
}

.services .service-items .item.active{
    background-color: #FFD700;

}

.services .service-items .item.active .title{
    background: #000;
}

.services .service-items .item.active .desc h5{
    color: #000;
    font-weight: 400;
}

.services .service-items .item.active .desc p{
    color: #313131;
    font-weight: 500;
}

.video-sec .header h3{
    text-align: right;
}

.video-sec .video{
    margin: 20px 0 40px;
    padding: 0 80px;
    position: relative;
}

.video-sec .video img{
    width: 100%;
    height: 420px;
    object-fit: top center;
    border-radius: 40px;
}

.video-sec .video button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    display: flex;
    background: rgba(86, 85, 85, 0.42);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(86, 85, 85, 0.3);
    border-radius: 50%;
    color: #a3e635;
    padding: 16px 16px 16px 24px;
    cursor: pointer;
}

footer .copyright{
    width: 100%;
}

@media screen and (max-width: 1400px) {
    
    .prompt-sec h1{
        font-size: 136px;
        line-height: 90px;
    }

    .prompt-sec .prompt-img .tabs a{
        width: 120px;
    }

    .showcase h3{
        font-size: 40px;
        margin-bottom: 14px;
    }

    .showcase .text-sec{
        flex-direction: column;
    }

    .showcase .text-sec p{
        width: 100%;
    }

    .showcase .text-sec .images,
    .showcase .image-sec{
        margin-left: auto;
    }

    .showcase .text-sec .images img,
    .showcase .image-sec .member img{
        width: 228px;
        height: 228px;
    }

    .services .header h3,
    .video-sec .header h3{
        font-size: 40px;
        width: 75%;
    }

    .services .service-items{
        flex-wrap: wrap;
    }

    .services .service-items .item{
        width: 48%;
    }

}

@media screen and (max-width: 992px) {
    
    .prompt-sec h1{
        font-size: 100px;
        line-height: 70px;
    }

    .prompt-sec .prompt-img input{
        top: 70%;
        padding: 12px;
    }

    .prompt-sec .prompt-img .tabs a{
        font-size: 14px;
        width: 100px;
    }

    .showcase,
    .services .service-items{
        padding: 40px;
    }

    .showcase h3{
        font-size: 34px;
    }

    .showcase .text-sec .images,
    .showcase .image-sec{
        justify-content: center;
    }

    .showcase .text-sec .images img,
    .showcase .image-sec img{
        width: 30%;
        height: 30%;
    }

    .services .header{
        flex-direction: column;
        padding: 40px 40px 0;
    }

    .services .header h3,
    .video-sec .header h3{
        width: 100%;
    }

    .video-sec .header{
        flex-direction: column-reverse;
        padding: 40px 40px 0;
    }

    .video-sec .video{
        padding: 0 40px;
    }

}

@media screen and (max-width: 768px) {
    
    nav .logo i{
        padding: 6px;
    }

    nav .nav-links a{
        font-size: 13px;
    }

    nav .nav-links p,
    footer .copyright p{
        font-size: 12px;
    }

    nav .login img{
        width: 28px;
        height: 28px;
    }

    .prompt-sec h1{
        font-size: 62px;
        line-height: 48px;
        margin-top: 20px;
    }

    .prompt-sec .prompt-img input{
        width: 80%;
    }

    .prompt-sec .prompt-img .tabs{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 92%;
        bottom: -60px;
        padding: 20px 0;
    }

    .prompt-sec .prompt-img .tabs a{
        width: 29%;
    }

    .services .service-items .item{
        width: 100%;
    }

    .video-sec .video button{
        font-size: 80px;
    }

}